.page-content-account {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.page-content-account .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-content-account .row {
    display: flex;
    justify-content: center;
    max-width: 800px;
}

@media (max-width: 800px) {
    .page-content-account .container {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .page-content-account .row {
        display: flex;
        justify-content: center;
        max-width: 700px;
    }
}

@media (max-width: 710px) {
    .page-content-account .container {
        max-width: 620px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .page-content-account .row {
        display: flex;
        justify-content: center;
        max-width: 620px;
    }
}

@media (max-width: 600px) {
    .page-content-account .container {
        max-width: 550px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .page-content-account .row {
        display: flex;
        flex-direction: column;
        max-width: 700px;

    }

    .left-col,
    .right-col {
        max-width: 100%; /* Cho phép mỗi phần tử chiếm toàn bộ chiều rộng của màn hình */
        margin: 0; /* Xóa margin để không có khoảng trống thừa */
    }


}
.left-col {
    flex: 65;
    padding:0px !important;

}

.group-login {
    background: #fff;
    padding: 30px;
    border: 1px solid #77CA64;
    padding-bottom: 90px;
}

.group-login h1 {
    font-size: 19px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size:14px;
}

.form-group .required {
    color: red;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-control-lg {
    font-size: 16px;
}

input {
    height: 30px;
    line-height: 30px;
}

input::placeholder {
    font-size: 13px;
}


.btn-login {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #77CA64;
    color: #fff;
    text-align: center;
    padding: 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #77CA64;
}

.btn-login:hover {
    background-color: white;
    border: 2px solid #77CA64;
    color:#77CA64;
}

.right-col {
    flex: 35;
    background: #77CA64;
    padding: 30px;
    border: 1px solid #77CA64;
}

.right-col h6 {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}

.right-col p {
    margin: 10px 0;
    color: white;
    font-size: 12px;
}

.right-col div{
    margin: 40px 0 20px 0;

}

.btn-register-default {
    margin-top: 10px;
    display: inline-block;
    background-color: #77CA64 ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
}

.btn-register-default:hover {
    border-color: #555;
    color: #555;
}


.breadcrumb {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    width: 100%;
    display: block;
    margin: 0;
    font-size: 14px;
    padding: 15px 0;
    border-radius: 0;

}

.breadcrumb .home{
    color:#555;
}
.breadcrumb .sign-up,.home {
    text-decoration: none;
}

.breadcrumb .sign-up {
    color: #77CA64;
}

.breadcrumb .home:hover {
    color:#77CA64;
    cursor: pointer;
}

.error {
    margin: 20px 5px 5px 5px;
}

.error span {
    color:red;
}