#statsTabs .nav-item .nav-link {
    color: #77ca64;
}

#revenueChart {
    width:400px;
    height:200px;
}

#revenue-chart form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#revenue-chart form input:focus{
    outline: none;
}

#revenue-chart form label {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 0px;
}

#revenue-chart h3 {
    text-transform: uppercase;
}

#order-chart form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#order-chart form input:focus{
    outline: none;
}

#order-chart form label {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 0px;
}

#order-chart h3 {
    text-transform: uppercase;
}

#top-revenue img {
    width: 100px;
    height: 100px;
}

#top-revenue h3 {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

#best-seller img {
    width: 100px;
    height: 100px;
}

.topProducts-content img {
    width: 100px;
    height: 100px;
}

#best-seller h3 {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

#statistics-by-time h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size:22px;
    font-weight: bold;
    margin-bottom:30px;
    margin-top:30px;
}

#statistics-by-time .btn-search {
    background-color: #07acff;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 8px 10px ;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    margin-top:0;
}

#statistics-by-time .btn-search:hover {
    background-color: #016fb5;
    color: #ffffff;
}

#sortBy {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    background-image: url('https://www.svgrepo.com/show/173673/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

#sortBy:focus {
    border-color: #66afe9; /* Đổi màu viền khi được focus */
    outline: none; /* Xóa đường viền mặc định của trình duyệt */
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Thêm hiệu ứng shadow */
}

#sortOrder {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    background-image: url('https://www.svgrepo.com/show/173673/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

#sortOrder:focus {
    border-color: #66afe9; /* Đổi màu viền khi được focus */
    outline: none; /* Xóa đường viền mặc định của trình duyệt */
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Thêm hiệu ứng shadow */
}

#startDate::placeholder {
    font-size:16px;
}

#endDate::placeholder {
    font-size:16px;
}

.pagination-top-products {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top:800px;
    left:125px;
}

.pagination-top-products button {
    border: 1px solid #bcbcbc;
    background-color: white;
    padding: 8px 12px;
    color: #1a202c;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}

.pagination-top-products .prev-top-products {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.pagination-top-products .next-top-products {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.pagination-top-products button:hover {
    background-color: #07acff;
    color: white;
}




