.admin-header {
    background-color: #77ca64;
    color: white;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.admin-header h1 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight:bold;

}

#logout-form {
    margin: 0;
}

#logout-form .btn-danger {
    position: absolute;
    right:5px;
    top:5px;
    background-color: #dc3545;
    border-color: #dc3545;
}
