body {
    padding:0;
    margin:0;
}

.admin-container {
    display: flex;
    height: calc(100vh - 70px); /* Chiều cao toàn bộ trừ đi header */
    border-top: 1px solid #29bdf6;
}

/* Sidebar */
.sidebar {
    width: 330px;
    background-color: #ffffff;
    color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    height: 843px;
}

.sidebar-menu li {
    margin-bottom: 20px;
}



.sidebar-menu li a {
    color: #5a5a5a;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 20px 20px;
    border-radius: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.sidebar-menu .manage-users-item a.active {
    background-color: #77ca64;
    color:white !important;
    transform: translateX(5px);
    font-weight: 600;
    border-radius:18px;
}

.sidebar-menu li a.active,
.sidebar-menu li a:hover {
    background-color: #77ca64;
    color:white;
    transform: translateX(5px);
    font-weight: 600;
}

