.footer-content .news-container {
    margin-top: 30px;
}
.footer-content .header-news-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-content  #news-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.footer-content .news-item  {
    font-size: 16px;
    margin-bottom: 10px;
    height: 400px;
}
.footer-content .news-item .image-container img {
    width: 100%;
}
.footer-content .news-title > a{
    color: #555;
}
.footer-content .news-title > a:hover {
    color: #77ca64;
    text-decoration: none;
}
.footer-content .news-item > .justify {
    font-size: 12px;
    word-break: break-all;
}
.footer-content .right-header-news-container button {
    width: 30px;
    border: 1px solid #77ca64;
    background-color: white;
}
.footer-content .right-header-news-container button img {
    width: 75%;
}
.right-header-news-container button:focus,
.right-header-news-container button:hover {
    background-color: #77ca64;
    outline: none;
}
.footer-content .left-header-news-container {
    font-size: 18px;
    text-transform: uppercase;
}
.footer-content .posted-time {
    font-size: 14px;
}

.news-title a {
    text-decoration: none;
}

@media (max-width: 576px) {
    .footer-content .news-item .image-container img {
        width: 70%;
    }
}